.form-wrapper {
  margin:0 auto;
  height: 310px;
  width: 230px;
  border: $big-border black;
  border-radius: $border-radius;
  text-transform: uppercase;
  .main-form {
    text-align: center;
    padding: 23px 0;
  }
  .button {
    font-weight: 700;
    border-top: $big-border black;
    text-align: center;
    font-size: 15px;
    line-height: 2.1;
    cursor: pointer;
  }
}