.result-wrapper {
  opacity: 0;
  text-transform: uppercase;
  width: 252px;
  height: 130px;
  border: 4px solid rgb(60,199,0);
  margin: -540px auto 0 auto;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(60,199,0);
  .selected-item-title {
    padding: 36px 0;
    background-color: #d9f5ca;
    color: #71cb5c;
    border: 1px solid white;
  }
  .gratitude {
    border-top: 4px solid rgb(60,199,0);
    font-weight: 900;
    line-height: 2.2;
    color: white;
  }
}