.result-wrapper {
  opacity: 0;
  text-transform: uppercase;
  width: 252px;
  height: 130px;
  border: $big-border $green;
  margin: -540px auto 0 auto;
  border-radius: $border-radius;
  text-align: center;
  background-color: $green;
  .selected-item-title {
    padding: 36px 0;
    background-color: $light-green;
    color: #71cb5c;
    border: 1px solid white;
  }
  .gratitude {
    border-top: $big-border $green;
    font-weight: 900;
    line-height: 2.2;
    color: white;
  }
}